<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  <p>Number of rooms:</p>
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'steelblue' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- {{ rooms?.availableRooms  ?? "No Rooms"}} -->

<!-- {{roomList | json}} for debugging use json pipe -->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<DIV>
  <button (click)="addRoom()">Add Room</button>
</DIV>

<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list
    [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>
<button (click)="toggle()">Toggle</button>
